*{
	box-sizing: border-box; 
}

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	background: #000000;
	font-family: GOT,serif;
	text-align: center;
}

.call-to-action{
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 6px;
	background: rgba(0,0,0,0.7);
	z-index: 999999;
	font-size: 1.2rem;
}

.call-to-action>a{
	color: #fa3;
}

.call-to-action>a:hover{
	color: #fff;
}

#register-btn{
	/*margin-left: 10px;*/
}

#gallery-btn{
	display: none;
}

/*div{
	overflow-x: hidden;
	font-family: 'Actor',sans-serif;
	font-family: 'Carrois Gothic', sans-serif;
}*/

/*.hamburger{
  background:none;
  position:fixed;
  top:10;
  left:10;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:999999;
}

.cross{
  background:none;
  position:fixed;
  top:10;
  left:10;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:999999;
}

.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%;height: 100%; background:rgba(0,0,0,0.6);  position:fixed; text-align:center;}
.menu ul {margin: 15% 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; /*border-bottom:#1d1f20 1px solid;*/}
/*/*.menu li:hover{display: block;    /*background:#181818;*/ /*padding:15px 0 15px 0;*/ /*border-bottom:#1d1f20 1px solid;}*/
/*.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fa3; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:#fa3;}*/

#preload-wrap{
	text-align: center;
}

.preload-left{
	background-color: #111111;
	height: 100%;
	width: 51%;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 10000000;
}

.preload-right{
	background-color: #111111;
	height: 100%;
	width: 51%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000000;
}

.preload-head{
	text-transform: uppercase;
	font-size: 2rem;
	color: #fc3;
	line-height: 1.5;
	position: fixed;
	top: 30%;
	left: 10%;
	right: 10%;
	z-index: 10000001;
}

#svg{
	background-size: contain;
	/*background: url("/Vassaunt/images/gate.svg");*/
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	/*padding-bottom: 400px;*/
	transform: scale(2.1);
	overflow: hidden;
	z-index: 1;

	margin-top: -23%;
}

#svg-wrap{
	margin:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #333;
	background: url('/Vassaunt/images/svg-back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.scroll-info{
	/*position: absolute;
	top: 0;*/
	margin-bottom: -1%;
	font-size: 1rem;
	color: #fc3;
}

div.event-wrapper{
	width: 100%;
	height: 100%;
}

div.event.panel{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 25%;
	position: absolute;
	left: 0;
	right: auto;
	transition: all .5s;
	text-align: center;
}

.event:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    z-index: -1;
}


div.event.panel > h2{
	margin-top: 80%;
	color: #fc3;
	line-height: 1.7;
}

.cursor-pointer{
	cursor: pointer !important;
}

div.event.full{
	width: 100% !important;
	left: 0 !important;
	right: 0 !important;
	height: 100% !important;
	cursor: auto;

}

.z-index{
	z-index: 9999;
}

.update{
	color: #fc3;
	margin-top: 15%;
}

div.event.panel1{
	left: 0;
	background: transparent url(/Vassaunt/images/img1.jpg) no-repeat center center;
	background-size: cover;
}

div.event.panel2{
	left: 25%;
	background: transparent url(/Vassaunt/images/img2.jpg) no-repeat center center;
	background-size: cover;
}

div.event.panel3{
	left: 50%;
	background: transparent url(/Vassaunt/images/img3.jpg) no-repeat center center;
	background-size: cover;
}

div.event.panel4{
	left: 75%;
	background: transparent url(/Vassaunt/images/img4.jpg) no-repeat center center;
	background-size: cover;
}

div.close-button{
	font-size: 72px;
	position: fixed;
	top: 20px;
	right: 50px;
	text-align: center;
	cursor: pointer;
	color: #fc3;
}

div.back-button{
	font-size: 48px;
	position: fixed;
	top: 22px;
	left: 50px;
	text-align: center;
	cursor: pointer;
	color: #fc3;
}

div.event-list{
	position: absolute;x: ;
	left: 0;
	top: 23%;
	bottom: 5%;
	overflow-y: auto;
	padding-right: 0;
	color: white;
	z-index: 99999

}

div.event-list.mobile-screen{
	left: 20%;
	right: 20%;
}

div.event-description.mobile-screen{
	left: 5%;
	padding-right: 3%;
}	

div.event-list ul{
	max-width: 100%;
	padding-right: auto;
	padding-left: auto;

}

div.event-list li{
	text-decoration: none;
	list-style: none;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	/*border:2px solid transparent;*/
	text-align: center;
	max-width: 80%;
	color: #fc0;
	transition: all 0.3s;
}

div.event-list>ul>li>p{
	color: #fff;
}

div.event-list>ul>li>p:hover{
	color: #ffa;
}

div.event-list>ul>li>p.ffa-color{
	color: #ffa;
}

div.event-list li:hover{
	cursor: pointer;
	color: #ff7;
	/*border:2px solid rgba(0,0,0,0.3);*/
}

div.event-list li.selected{
	/*border:2px solid black;*/
	color: #f70;
}

div.event-list p{
	margin-left: -50%;
}

div.event-description{
	position: absolute;
	left: 35%;
	top: 23%;
	right: 10%;
	bottom: 5%;
	font-size: 1.2rem;
	text-align: center;
	line-height: 2;
	overflow-y: auto; 
	padding-right: 30px;
	font-family: Carrois, sans-serif;
	color: #fc3;
}


.hidden{
	display: none;
	transition: all .3s;
}

.visible{
	display: block;
}

*::-webkit-scrollbar{
	width: 3px;
}

*::-webkit-scrollbar-track{
	background: transparent;
}

*::-webkit-scrollbar-thumb{
	background: #000;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	width: 3px;
}

.hide-overflow{
	overflow: hidden;
}

.abt-wrap{
	position: absolute;
	background: url('/Vassaunt/images/abt-back.png');
	background-size: cover;
	height: 100%;
	width: 100%;
}
.abt{
	position: absolute;	
	left: 5%;
	top: 0;
	right: 5%;
	bottom: 5%;
	text-align: center; 
	padding-right: 0;
	overflow-y: auto;
	color: white;
}	
.abt-description{
	font-size: 1.2rem;
	line-height: 2;
	font-family: Carrois, sans-serif;
}		
.abt-heading{
	font-size: 2.5em;

}
.bgimg {
    background-image: url('got.jpg');
    height: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.middle {
    position: absolute;
    bottom: 1%;
    left: 40%;
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

.gallery-wrap{
	position: absolute;
	background: #f73de5;
	height: 100%;
	width: 100%;
	text-align: center;
}
.gallery-head{
font-size: 48px;
margin-top: 20%;
}
.gallery-btn{
	text-decoration: none;
	color:white;
	border-radius: 5px;
	padding: 1em;
	background: blue;
	width: 200px;
	left: 50%;
	right: 50%;
	position: absolute;
	bottom: 10%;
	transition: all 0.5s;
}
.gallery-btn:hover{
	background: yellow;
	color: black;
}

div#abt-wrap1{
	opacity: 0;
}

/*.team-wrap{
	position: absolute;
	background: #fff;
	height: 100%;
	width: 100%;
	text-align: center;
	opacity: 0;
}*/
/*
.team-head111{
	position: absolute;
	top: 7%;
	width: 100%;
	text-align: center;
	font-size: 2.5rem;
	text-transform: uppercase;
}*/

.team{
	/*position: absolute;
	top: 25%;*/
	height: 100%;
	width: 90%;
	margin-left: 10%;
	margin-right: auto;
	display: block;
	margin-top: 40%;

}

.team-item{
	height: 40%;
	width: 20%;
	margin: 1%;
	float: left;
	transition: all 0.5s;
	position: relative;
}

.designation{
	position: absolute;
	bottom: 0;
	padding:2% 2%;
	background: rgba(0,0,0,0.3);
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.info{
	display: none;
	position: absolute;
	top: 0;
	padding:40% 2% 0 2%;
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	transition: all 1.5s;
}


div.pic2:hover .info{
	display: block;
	
}



.team-head
	{
	background: url('1.png');
	background-size: contain;
	background-repeat: repeat;
	height: 30%;
	z-index: -1;
	overflow-y: auto;
}
.team1
	{
	background: url('1.png');
	background-size: contain;
	/*background-repeat: repeat;*/
	height: auto;
	z-index: -1;
	overflow-y: auto;
}

/*#lift
	{
	background-image: url('b.png');
	background-size: cover;
	height: 1080px;
	background-attachment: fixed;
	z-index: 1;
	margin-left: 5%;
}*/

.team-wrap .team1 .row a{
	text-decoration: none;
	color: white;
}

.pic1
	 {
	 	position: relative;
	width: 15%;
	border-radius: 5px;
	margin: 50px;
	float: left;
	height: 30%;
	background-size: contain !important;
}

.single-left{
	margin-left: 16% !important;
}

.single-right{
	margin-right: 16% !important;
}

.pic1 h4 span,.pic2 h4 span{
	position: absolute;
	bottom: 0;
	left:0;
	padding:2% 2%;
	background: rgba(0,0,0,0.5);
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
}

.pic1 h5 span,.pic2 h5 span{
	display: none;
	position: absolute;
	top: 0;
	padding:30% 2% 0 2%;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	transition: all 1.5s;
}

.pic1:hover h5 span,.pic2:hover h5 span{
	display: block !important;
}

.pic2
	 {
	 	position: relative;
	width: 15%;
	height: 30%;
	border-radius: 5px;
	margin: 50px;
	float: right;
	background-size: contain !important;
}

.container {
    padding: 2px 16px;
}
h1
{
	font-size: 56px;
	text-align: center;
}
.row
{
	width: 100%;
	display: block;
	background: url('2.png');
	background-size: contain;
}

.preload-icon-wrap{
	position: fixed;
	bottom: 30%;
	left: 42.5%;
	z-index: 10000001;
}

.object{
    -moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-left: 5px solid #FFF;
	border-right: 5px solid #FFF;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;
	/*transform: scale(0.5);*/
	}

#object_one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
	border-left: 5px solid #FA3;
	border-right: 5px solid #FA3;
	transform: scale(0.5);
}
							
#object_two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	-webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    transform: scale(0.5);
	}
		
#object_three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    border-left: 5px solid #FA3;
	border-right: 5px solid #FA3;
	transform: scale(0.5);
	}
#object_four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	-webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    transform: scale(0.5);
	
	}	

@-webkit-keyframes animate {
 

50% {
	-ms-transform: rotate(180deg); 
   	-webkit-transform: rotate(180deg); 
    transform: rotate(180deg); 
  }
	  
100% {
	-ms-transform: rotate(0deg); 
   	-webkit-transform: rotate(0deg); 
    transform: rotate(0deg); 
  }	  

}

@keyframes animate {

50% {
	-ms-transform: rotate(180deg); 
   	-webkit-transform: rotate(180deg); 
    transform: rotate(180deg); 
  }
	  
100% {
	-ms-transform: rotate(0deg); 
   	-webkit-transform: rotate(0deg); 
    transform: rotate(0deg); 
  }	  

  
}


/************************ For screen sizes below 767px *********************************/

@media only screen and (max-width: 767px) {

	div.event.panel{
	height: 25%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: auto;
	}

	div.event.panel > h2{
	margin-top: 7%;
	}

	div.event.panel1{
		top: 0;
		left: 0;
	}

	div.event.panel2{
		top: 25%;
		left: 0;
	}

	div.event.panel3{
		top: 50%;
		left: 0;
	}

	div.event.panel4{
		top: 75%;
		left: 0;
	}

	div.event-list{
	left: 0;
	top: 10%;
	font-size: 1.5rem;
	margin-left: -2%;
	}

	div.event.full{
		top: 0 !important;
	}

	div.close-button{
		font-size: 48px;
		top: 0;
		right: 20px;
	}

	div.back-button{
		font-size: 36px;
		top: 4px;
		left: 20px;
	}

	div.event-description{
		left: 35%;
		top: 15%;
		right: 5%;
		bottom: 5%;
		font-size: 1.5rem;
		text-align: center; 
		padding-right: 0;
	}
	
	.pic1{

	width: 25%;
	margin: 20px;
	margin-left: 10%;
	}

	.single-right{
		margin-right: 10% !important;
	}

	.single-left{
		margin-left: 10% !important;
	}

	.pic2{

	width: 25%;
	margin: 20px;
	margin-right: 10%;
	}

	.preload-icon-wrap{
	position: absolute;
	bottom: 40%;
	left: 28%;
	}
}