*{
	box-sizing: border-box; 
}

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	background: #000000;
	font-family: GOT,serif;
}

/*div{
	overflow-x: hidden;
	font-family: 'Actor',sans-serif;
	font-family: 'Carrois Gothic', sans-serif;
}*/

#pre-load-wrap{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #111111;
}

.pre-load{
	position: absolute;
	top: 30%;
	left: 10%;
	right: 10%;
	text-align: center;
}

#pre-load-head{
	text-transform: uppercase;
	font-size: 72px;
	color: red;
}

#svg{
	background-size: contain;
	/*background: url("/Vassaunt/images/gate.svg");*/
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	/*padding-bottom: 400px;*/
	margin-left: -2%;
	transform: scale(0.5);
	overflow: hidden;
	z-index: 1;
}

#svg-wrap{
	margin:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: yellow;	
}

div.event-wrapper{
	width: 100%;
	height: 100%;
}

div.event.panel{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 25%;
	position: absolute;
	left: 0;
	right: auto;
	transition: all .5s;
}

.cursor-pointer{
	cursor: pointer !important;
}

div.event.full{
	width: 100% !important;
	left: 0 !important;
	right: 0 !important;
	height: 100% !important;
	cursor: auto;

}

.z-index{
	z-index: 9999;
}

div.event.panel1{
	left: 0;
	background: transparent url(/Vassaunt/images/img-1.jpg) no-repeat center center;
}

div.event.panel2{
	left: 25%;
	background: transparent url(/Vassaunt/images/img-2.jpg) no-repeat center center;
}

div.event.panel3{
	left: 50%;
	background: transparent url(/Vassaunt/images/img-3.jpg) no-repeat center center;
}

div.event.panel4{
	left: 75%;
	background: transparent url(/Vassaunt/images/img-4.jpg) no-repeat center center;
}

div.close-button{
	font-size: 72px;
	position: fixed;
	top: 20px;
	right: 50px;
	text-align: center;
	cursor: pointer;
}

div.back-button{
	font-size: 48px;
	position: fixed;
	top: 22px;
	left: 50px;
	text-align: center;
	cursor: pointer;
}

div.event-list{
	position: absolute;
	left: 5%;
	top: 23%;
	bottom: 5%;
	overflow-y: auto;
	padding-right: 25px;
}

div.event-list.mobile-screen{
	left: 20%;
	right: 20%;
}

div.event-description.mobile-screen{
	left: 5%;
	padding-right: 3%;
}	

div.event-list ul{
	max-width: 100%;
	padding-right: auto;
	padding-left: auto;

}

div.event-list li{
	text-decoration: none;
	list-style: none;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	/*border:2px solid transparent;*/
	text-align: center;
	max-width: 80%;
	color: black;
	transition: all 0.3s;
}

div.event-list li:hover{
	cursor: pointer;
	color: #fff;
	/*border:2px solid rgba(0,0,0,0.3);*/
}

div.event-list li.selected{
	/*border:2px solid black;*/
	color: #fff;
}

div.event-description{
	position: absolute;
	left: 35%;
	top: 23%;
	right: 10%;
	bottom: 5%;
	font-size: 1.2rem;
	text-align: center;
	line-height: 2;
	overflow-y: auto; 
	padding-right: 30px;
	font-family: serif;
}

.hidden{
	display: none;
	transition: all .3s;
}

.visible{
	display: block;
}

*::-webkit-scrollbar{
	width: 3px;
}

*::-webkit-scrollbar-track{
	background: transparent;
}

*::-webkit-scrollbar-thumb{
	background: #000;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	width: 3px;
}

.hide-overflow{
	overflow: hidden;
}

.abt-wrap{
	position: absolute;
	background: #34ef3d;
	height: 100%;
	width: 100%;
}
.abt{
	position: absolute;	
	left: 5%;
	top: 0;
	right: 5%;
	bottom: 5%;
	text-align: center; 
	padding-right: 0;
}	
.abt-description{
	font-size: 1.2rem;
	line-height: 2;
	font-family: Carrois, sans-serif;
}		
.abt-heading{
	font-size: 2.5em;

}
.bgimg {
    background-image: url('got.jpg');
    height: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.middle {
    position: absolute;
    bottom: 1%;
    left: 40%;
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

.gallery-wrap{
	position: absolute;
	background: #f73de5;
	height: 100%;
	width: 100%;
	text-align: center;
}
.gallery-head{
font-size: 48px;
margin-top: 20%;
}
.gallery-btn{
	text-decoration: none;
	color:white;
	border-radius: 5px;
	padding: 1em;
	background: blue;
	width: 200px;
	left: 50%;
	right: 50%;
	position: absolute;
	bottom: 10%;
	transition: all 0.5s;
}
.gallery-btn:hover{
	background: yellow;
	color: black;
}

div#abt-wrap1{
	opacity: 0;
}

.team-wrap{
	position: absolute;
	background: #fff;
	height: 100%;
	width: 100%;
	text-align: center;
	opacity: 0;
}

.team-head{
	position: absolute;
	top: 7%;
	width: 100%;
	text-align: center;
	font-size: 2.5rem;
	text-transform: uppercase;
}

.team{
	/*position: absolute;
	top: 25%;*/
	height: 100%;
	width: 90%;
	margin-left: 10%;
	margin-right: auto;
	display: block;
	margin-top: 10%;

}

.team-item{
	height: 40%;
	width: 20%;
	margin: 1%;
	float: left;
	transition: all 0.5s;
	position: relative;
}

.designation{
	position: absolute;
	bottom: 0;
	padding:5% 2%;
	background: rgba(0,0,0,0.3);
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.info{
	display: none;
	position: absolute;
	top: 0;
	padding:40% 2% 0 2%;
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	transition: all 1.5s;
}


div.team-item:hover .info{
	display: block;
	
}

#t1{
	background: #123456;
}

#t2{
	background: #12312a;
}

#t3{
	background: #ae3456;
}

#t4{
	background: #fe24f6;
}

#t5{
	background: #1237d6;
}

#t6{
	background: #12f456;
}




/************************ For screen sizes below 767px *********************************/

@media only screen and (max-width: 767px) {

	div.event.panel{
	height: 25%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: auto;
	}

	div.event.panel1{
		top: 0;
		left: 0;
	}

	div.event.panel2{
		top: 25%;
		left: 0;
	}

	div.event.panel3{
		top: 50%;
		left: 0;
	}

	div.event.panel4{
		top: 75%;
		left: 0;
	}

	div.event-list{
	left: 0;
	top: 10%;
	font-size: 1.5rem;
	margin-left: -2%;
	}

	div.event.full{
		top: 0 !important;
	}

	div.close-button{
		font-size: 48px;
		top: 0;
		right: 20px;
	}

	div.back-button{
		font-size: 36px;
		top: 4px;
		left: 20px;
	}

	div.event-description{
		left: 35%;
		top: 15%;
		right: 5%;
		bottom: 5%;
		font-size: 1.5rem;
		text-align: center; 
		padding-right: 0;
	}
}